/* Ksenia fonts начало */
@font-face {
	font-family: 'CothamSans'; 
	src: url(/assets/fonts/CothamSans.otf); 
}
/* Ksenia fonts конец */
/*main*/
.title {
  font-size: 20px;
}


/*Header начало*/

.header-container {
  max-width: 1440px;
}
.header-line {
  padding-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-item__search-box {
  text-decoration: none;
  color: #c1c1c1;
  font-family: "Cotham Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  align-items: center;
}
.search-txt{
  border: none;
  font-family: 'Cotham Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.nav-item__search:hover {
  color: gray;
}

.nav {
  align-items: center;
  display: flex;
}

.header-info {
  display: flex;
  margin-top: 13px;
}

.nav-item {
  text-decoration: none;
  color: black;
  font-family: "Cotham Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.nav-item:hover {
  color: gray;
}
.nav-item__search {
  text-decoration: none;
  color: #c1c1c1;
  font-family: "Cotham Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.header-text 
{
  font-family: "Cotham Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #1d1d1d;
}

.header-logo {
  font-family: "Cotham Sans", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #1d1d1d;
  margin-right: 12px;
}
.header-logo:hover{
  color:black;
}
.button {
  text-decoration: none;
  display: flex;
  font-weight: 400;
  font-size: 16px;
  color: black;
  border: none;
}
.button:hover {
  color: grey;
}

@media screen and (max-width: 600px) {
  .header-text {
    display: none;
  }
}
@media screen and (max-width: 970px){
  .btn {
    display:none;
  }
}
/*header конец*/
/*nav начало*/
.main__nav {
  min-height: 5rem;
}
.nav-link {
  color: #c1c1c1;
  font-size: 0.9rem;
}
.nav-link:hover {
  color: black;
}
.nav-link-active {
  color: #c1c1c1;
}
.nav-link-active:hover {
  color: black;
  text-decoration-color: red;
}
@media screen and (min-width: 1400px) {
  .nav-link {
font-size: 1.1rem;
  }
}
/*nav конец*/
/*Nastya main card start*/
.content__card_link {
  font-family: "CothamSans", Helvetica, sans-serif;
}
/*Nastya main card finish*/
/*Ksenia inspiration__tab начало*/
.inspiration-tab__card-body, .card__text_bottom-text {
  font-family: "CothamSans", Helvetica, sans-serif;
}
.inspiration-tab__card-title {
  font-size: 1.6rem;
}
.inspiration-tab__card-link {
  font-size: 1.6rem;
  color: red;
}
.inspiration-tab__card-link:hover {
  color: black;
}
/*Ksenia inspiration__tab конец*/
/*main__ additional-page начало*/
.main__additional-page {
  min-height: 40rem;
}
.additional-page__card-body {
  font-family: "CothamSans", Helvetica, sans-serif;
}
.additional-page__card-title {
  font-size: 1.6rem;
}
.additional-page__card-text {
  font-size: 1rem;
}
.additional-page__card-link {
  font-size: 1.6rem;
  color: red;
}
.additional-page__card-link:hover {
  color: black;
}
/*main__study-offer конец*/
/*Nastya suggestproduct_page start*/
.input_placeholder {
  font-family: "CothamSans", Helvetica, sans-serif;
}
.suggestproduct__link{
  font-family: "CothamSans", Helvetica, sans-serif;
  color: red;
  
}
.suggestproduct__link:hover {
  color: black;
}
.suggestproduct__collumn-link {
  margin-bottom: 10rem;
}

/*Nastya suggestproduct_page end*/
/*Footer начало*/
.footer-info{
  display: flex;
  align-items: center;
  justify-content: space-between;}

.footer-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-content{
    display: flex;
    
}
.footer-logo{
    font-weight: 400;
    font-size: 30px;
    margin-top: 10px;
    color: black;
}
.footer-logo:hover {
  color: black;
}
.footer-text{
    font-weight: 400;
    font-size: 14px;
    font-family: "Cotham Sans", sans-serif;

}
.footer-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-content {
  display: flex;
}
.footer-logo {
  font-weight: 400;
  font-size: 30px;
  margin-top: 10px;
}

.footer-text {
  font-weight: 400;
  font-size: 14px;
  font-family: "Cotham Sans", sans-serif;
}
.footer-text-image {
  display: flex;
  align-items: center;
  margin-left: 12px;
  margin-top: 20px;
}
.footer-title {
  display: flex;
}
.footer-logo {
  font-weight: 400;
  font-size: 30px;
  margin-top: 10px;
}
.footer-text {
  font-weight: 400;
  font-size: 14px;
  font-family: "Cotham Sans", sans-serif;
}
.footer-text-image {
  display: flex;
  align-items: center;
  margin-left: 12px;
  margin-top: 20px;
}
.footer-link {
  display: flex;
  align-items: center;
}
.footer-btn {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}
.footer-info__link {
  text-decoration: none;
  color: #1d1d1d;
  font-family: "Cotham Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.footer-info__link:hover {
  color: gray;
}
@media screen and (max-width: 600px) {
  .footer-text-image {
    display: none;
  }
}
/*Footer конец*/


/* open info page*/
.container{
    width: 100%;
    height: 100vh;
}
.header-content{
    display: flex;
    justify-content: flex-end;
}

.openinformation__link{
    font-family: "CothamSans", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px; 
    color: #FD4300;
}
.openinformation__text{
    font-family: "CothamSans", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: #1D1D1D;
}
.openinformation__subtext{
    font-family: "CothamSans", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;}

.openinformation__name {
  font-family: "CothamSans", Helvetica, sans-serif;
  margin-bottom: 110px;
}

@media screen and (max-width: 600px)
{
    .openinformation__text{
        font-family: "CothamSans", Helvetica, sans-serif;
        font-weight: 400;
        font-size: 18px;
    }
}

span{
    color: #FD4300;
}

.openinformation__subtext{
    font-family: "CothamSans", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #1D1D1D;
    margin-top: 100px;
}

.openinformation__name{
    font-family: "CothamSans", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #C1C1C1;
    margin-bottom: 110px;
}

.footer-closeinfo{
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
    margin-bottom: 30px;
}

@media screen and (max-width: 800px)
{
    .footer-closeinfo{
        display: none;
    }
}